.home {
  display: flex;
  /*height: 100vh;*/
  //min-height: 100vh;
  flex-direction: column;
  /* height: 100%;
    width: 100%;*/
  justify-content: center;
  align-items: center;
  // background: linear-gradient(45deg, #007bff, #ff5722);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;

  }

  .parallax {
    background-image: url('/assets/background.jpg');
    /* min-height: 100vh;
    height: 100vh;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
  }


}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  background: white;
  color: #333;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: #ddd;
}

@media (max-width: 768px) {
  .home {
    text-align: center;
    padding: 10px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .parallax {
    font-size: 2rem;

    background-attachment: scroll;
  }

  .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }

}

@media (max-width: 480px) {
  .parallax {
    font-size: 1.5rem;
    height: 100vh;
  }
}