<div class="card">
            <div class="card-body" >
                <h5 class="card-tittle">{{project.title}}</h5>
                <p class="card-text">{{project.summary}}.</p>

                <button class="btn" (click)="openModal()">Vew More</button>
            </div>
      
          
            <div class="card-footer">
                <div class="tags-container">
                    <div *ngFor="let tag of project.tags" class="tag" [style.background-color]="tag.color">
                        {{tag}}
                    </div>
                </div>
            </div>
        
            <app-project-modal 
           
            [isOpen]="showModal"
            [project]="project"
            (closeModal)="closeModal()">
          </app-project-modal>

        </div>
      