.animation-container {
  perspective: 1200px; /* Създава 3D пространство */
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}


div {
  display: block;
  //transform-style: preserve-3d;
  backface-visibility: hidden;
}
 
 
 :host {
    display: block;
    padding-top: 60px; 
    background: linear-gradient(45deg, #007bff, #ff5722);

     perspective: 1200px;
  transform-style: preserve-3d;
   height: 100%;
  width: 100%;
    }
    .content {
      
     // margin-top: 60px;
    }

    .route-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

router-outlet + * {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d; /* Запазва 3D трансформациите */
}