.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  //text-align: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.7);

  //    backdrop-filter: blur(2px); 
  //  pointer-events: auto; 

  /* z-index: 2147483647 !important;//1000
    animation: fadeIn 0.3s ease forwards;
    overflow: hidden;
    &.closing {
      animation: fadeOut 0.3s ease forwards;
    }*/
}

.modal-content {
  background-color: white;
  color: black;

  // padding: 20px; rem
  border-radius: 10px;
  //width: 300px;
  width: 60%;
  max-width: 800px; //90%
  max-height: 90vh; //90%

  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  /* animation: slideIn 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);*/

  .close-btn {
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;

    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #666;
    //z-index: 1;

    &:hover {
      color: #333;
    }
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    p {
      padding-bottom: 5px;
      margin-bottom: 10px;
      line-height: 1.6;
      border-bottom: 1px solid #ddd;
    }
  }
}

.project-images {
  // display: grid;
  position: relative;
  /*overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  flex-wrap: wrap;
  aspect-ratio: 16/9; */
  width: 100%;
  //height: 100%;
  max-height: 400px;
  gap: 1rem;
  margin: 1rem 0;
  margin-bottom: 1rem;

  .slide {

    width: 100%;

    .slide-image {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 4px;
      transition: opacity 0.5s ease-in-out;
    }
    .fade {
opacity: 0;
    }
  }

  img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;

    display: block;
    border-radius: 4px;
    transition: opacity 0.5s ease;
  }

  .slide-btn {
    cursor: pointer;
    position: absolute;
    border: none;

    top: 50%;
    width: auto;
    transform: translateY(-50%);
    transition: 0.6s ease;
    padding: 5px;
    border-radius: 50%;
    z-index: 10;

    //background: rgba(0, 0, 0, 0.5);
    //color: white;

  }

  .slide-btn.prev {
    left: 10px;
  }

  .slide-btn.next {
    right: 10px;
  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;

    span {
      width: 20px;
      height: 5px;
      background: #ccc;
      //border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;

      &.active {
        background: #333;
      }
    }
  }
}

.project-details {
  //align-items: center;
  //text-align: center;

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;

    color: white;

    .tag {
      background-color: #f0f0f0;
      padding: 0.25rem 0.5rem;
      border-radius: 9px;
      font-size: 0.8rem;
    }
  }
}



.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  //border-top: 1px solid #eee;
  background-color: #666;

  .project-links {
    display: flex;
    gap: 10px;
    margin-top: 10px;


    .btn {
      align-items: center;
      text-decoration: none;

      padding: 5px 15px;

      border-radius: 10px;
      transition: all 0.3s ease;

      background-color: rgba(255, 166, 0, 0.76);
      color: white;

      &:hover {
        background-color: rgba(255, 166, 0, 0.534);
        transform: translateY(-2px);
      }
    }
  }
}